@import "../../../styles.scss";

:host {
  @include componentLayout(linear-gradient(90deg, #d946ee 0%, #9332e9 100%));
}

.ui-list {
  @include flexColumn(2rem);

  width: Min(450px, 100%);
}

.ui-item {
  display: flex;
  background-color: $shade-white;
  border-radius: 0.5rem;
  overflow: hidden;
  height: Min(100%, 200px);

  .img-container {
    width: 100%;
    display: flex;
    flex: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .content {
    @include flexColumn(1rem);
    justify-content: center;
    font-size: 14px;
    padding: 1rem;
  }

  p:first-child {
    color: #581c87;
    font-weight: 500;
  }

  p:last-child {
    color: $neutral-500;
  }
}

@media (min-width: 640px) {
  :host {
    padding: 4rem 0;
  }
}
