<ul class="ui-list">
  <li class="ui-item" *ngFor="let item of data">
    <div class="img-container" *ngIf="image">
      <img [src]="item.imgUrl" alt="" />
    </div>
    <div class="content">
      <p>{{ item.title }}</p>
      <p>{{ item.description }}</p>
    </div>
  </li>
</ul>
