<app-section-title> Elements </app-section-title>

<app-component-title> Placeholder </app-component-title>

<app-placeholder
  [header]="true"
  [lines]="3"
  [footer]="true"
  [icon]="true"
></app-placeholder>

<app-component-title> Segments </app-component-title>

<app-segment [icon]="true">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus, illum.</p>
  <button>Add document</button>
</app-segment>
