@import "../../../styles.scss";

:host {
  @include hostLayout;
}

p {
  font-size: 14px;
  color: $neutral-500;
  line-height: 1.5rem;
  text-align: center;
}

button {
  @include button(#093c3e, #a8dbdd, #2fcaa9);
}
