<div class="ui-accordion">
  <div
    class="item"
    *ngFor="let item of FAQS; let i = index"
    [ngClass]="{ show: i === openItemIndex }"
  >
    <div class="question" (click)="toggle(i)">
      <h3>{{ item.q }}</h3>
      <i-feather name="chevron-down" *ngIf="i !== openItemIndex"></i-feather>
      <i-feather name="chevron-up" *ngIf="i === openItemIndex"></i-feather>
    </div>

    <p class="answer show">
      {{ item.a }}
    </p>
  </div>
</div>
