@import "../../../styles.scss";

:host {
  @include componentLayout(linear-gradient(90deg, #d946ee 0%, #9332e9 100%));
}

.ui-accordion {
  padding: 0.5rem;
  background-color: $shade-white;

  width: Min(500px, 100%);
  margin: auto;
  border-radius: 0.5rem;
  @include flexColumn(0.5rem);

  .item {
    font-size: 14px;
    @include flexColumn(0rem);
    width: 100%;

    .question {
      display: flex;
      width: 100%;
      justify-content: space-between;
      background-color: #f3e8ff;
      border-radius: 0.5rem;
      padding: 0.5rem;
      cursor: pointer;
      align-items: center;

      &:hover {
        background-color: rgba(233, 213, 255, 1);
      }
    }

    h3 {
      color: #a56fd5;
      font-size: inherit;
      flex: 1;
    }

    .answer {
      display: none;
      padding: 1rem;
      color: $neutral-500;
    }
  }

  .show {
    h3 {
      color: #6f0cc5;
    }
    .answer {
      display: flex;
    }
    transition: all 0.2s ease-in-out;
  }
}
