@import "../../../styles.scss";

:host {
  @include hostLayout;
}

.modal-container {
  min-height: 300px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #38bcf7 0%, #494db5 100%);

  padding: 4rem;

  .btn-container {
    display: flex;
    justify-content: center;

    button {
      @include button(#1e3a8a, #dceafe, rgb(191 219 254 / 1));
    }
  }
}

h3 {
  color: $neutral-800;
}

.modal-body {
  p {
    font-size: 14px;
    color: $neutral-500;
  }
}
