<app-section-title>Dialog</app-section-title>
<app-component-title>Modal</app-component-title>

<div class="modal-container">
  <div class="btn-container">
    <button (click)="toggleModal()">Open modal</button>

    <app-modal *ngIf="modalOpen" (modalClose)="toggleModal()" action="Close">
      <h3 modalTitle>Title</h3>
      <div class="modal-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorem
          dolore laboriosam?
        </p>
      </div>
    </app-modal>
  </div>
</div>

<app-component-title>Accordion</app-component-title>

<app-accordion [FAQS]="questions"></app-accordion>
