@import "../../../styles.scss";

:host {
  @include hostLayout;
}

.ui-tabs {
  display: flex;
}

.sidebar {
  display: flex;
  background-color: rgb(30 58 138/0.2);
  padding: 0.25rem;
  border-radius: 0.5rem;
  overflow: hidden;
  gap: 0.25rem;
  justify-content: space-between;

  li {
    width: 100%;
    .active {
      background-color: $shade-white;
      color: #3c7ad5;

      &:hover {
        background-color: $shade-white;
        color: #3c7ad5;
      }
    }

    a {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      color: $neutral-200;
      display: block;
      width: 100%;

      text-align: center;
      font-weight: 600;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: $shade-white;
      }
    }
  }
}
