<app-section-title>Collections</app-section-title>

<app-component-title> Table </app-component-title>

<app-table [data]="data" [headers]="headers" tableStyle="stripe"></app-table>

<app-component-title> Tabs </app-component-title>
<app-tabs>
  <ul class="sidebar">
    <li>
      <a
        routerLink="./"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Bio</a
      >
    </li>
    <li>
      <a
        routerLink="./partners"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Partners</a
      >
    </li>
    <li>
      <a
        routerLink="./contact"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Contact</a
      >
    </li>
  </ul>
</app-tabs>
