<app-section-title>Views</app-section-title>
<app-component-title>Statistics</app-component-title>
<app-statistics [data]="stats"></app-statistics>

<app-component-title>List</app-component-title>
<app-list-items [data]="items" [image]="true"></app-list-items>
