<header>
  <nav>
    <div>
      <a class="logo" routerLink="/"> NgUI </a>
    </div>

    <a
      href="https://gitlab.com/kazmonroy/ng-components-ui"
      target="_blank"
      class="icons"
    >
      <i-feather name="gitlab" class="fill"></i-feather>
    </a>
  </nav>
</header>
