@import "../../../styles.scss";

.logo {
  color: $primary;
  font-size: 1.5rem;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  backdrop-filter: blur(6px);
  background-color: rgb(17 24 39/ 0.5);
  border-bottom: 1px solid $border;

  nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .icons:last-child {
      @include fill;
    }
  }
}

@media (min-width: 640px) {
  header {
    nav {
      padding: 1rem 1.5rem;
    }
  }
}
