@import "./variables";

@mixin sidebarButton($color, $color-border, $color-hover) {
  display: block;
  color: $color;
  font-size: 14px;
  font-weight: 400;
  border-left: 1px solid $color-border;
  padding: 0.8rem 1rem;
  transition: all 0.25s ease-in-out;

  &:hover {
    color: $color-hover;
    border-left: 1px solid $color-hover;
  }
}

@mixin button($color, $bg-color, $hover-color) {
  color: $color;
  background-color: $bg-color;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  &:hover {
    background-color: $hover-color;
  }
}

@mixin hostLayout {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 640px) {
    padding: 3rem 2rem;
  }
}

@mixin tabContent {
  border-radius: 0.5rem;
  background-color: $neutral-50;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

@mixin tabContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    line-height: 1.2rem;
    color: $neutral-500;
    padding: 0.5rem 0;
  }

  a {
    display: block;

    color: #1d9bd5;
    cursor: pointer;
    &:hover {
      color: #2364ea;
    }
  }
}

@mixin componentLayout($background) {
  border-radius: 1rem;
  padding: 2rem;
  background: $background;

  // layout
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin fill {
  color: $neutral-700;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  &:hover {
    color: $shade-white;
  }
}

@mixin flexColumn($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
