$surface: #101827;
$primary: #83d6fa;
$secondary: #9ca3af;
$shade-white: #ffffff;
$border: #212936;

$neutral-50: #f8fafc;
$neutral-100: #f1f5f9;
$neutral-200: #e2e8f0;
$neutral-300: #cbd5e1;
$neutral-400: #94a3b8;
$neutral-500: #64748b;
$neutral-600: #475569;
$neutral-700: #334155;
$neutral-800: #1e293b;
$neutral-900: #0f172a;
$neutral-950: #020617;
