@import "../../../styles.scss";

:host {
  @include componentLayout(linear-gradient(90deg, #4add80 0%, #02b6d3 100%));
}

.ui-segment {
  @include flexColumn(1rem);
  max-width: 400px;
  margin: auto;
  background-color: $neutral-50;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 0.5rem;

  p {
    color: $neutral-500;
  }

  .icon {
    width: 3rem;
    height: 3rem;
    background-color: #a8dbdd;
    border-radius: 100%;
  }
}

@media (min-width: 640px) {
  :host {
    padding: 4rem;
  }
}
