@import "../../../../styles.scss";

:host {
  @include componentLayout(linear-gradient(90deg, #38bcf7 0%, #2364ea 100%));
}

.ui-tabs {
  @include flexColumn(0.5rem);
  font-size: 14px;
  max-width: 400px;
  margin: auto;
}

.tabs-content {
  padding: 1.5rem;
  background-color: $shade-white;
  border-radius: 0.5rem;
  overflow: hidden;
  min-height: 200px;
  display: flex;
}

@media (min-width: 640px) {
  :host {
    padding: 4rem;
  }
}
