<app-header></app-header>
<div class="content">
  <app-sidebar [openSidebar]="openSidebar"></app-sidebar>
  <div class="outlet">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="menu" (click)="open()">
  <i-feather name="menu" class="fill"></i-feather>
</div>
