@import "../styles.scss";

.content {
  display: flex;
}
.outlet {
  flex: 1;
  padding: 0rem;
  overflow-x: hidden;
}

.menu {
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba($color: $neutral-300, $alpha: 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgba($color: $neutral-300, $alpha: 1);
  }

  .fill {
    @include fill();
    pointer-events: none;
  }
}

@media (min-width: 1280px) {
  .outlet {
    padding: 0rem;
  }
}

@media (min-width: 1024px) {
  .menu {
    display: none;
  }
}
