<nav [ngClass]="{ open: openSidebar && innerWidth < 1024 }" (click)="close()">
  <ul>
    <h5>Components</h5>
    <li><a routerLink="/elements" routerLinkActive="active">Elements</a></li>
    <li>
      <a routerLink="/collections" routerLinkActive="active">Collections</a>
    </li>
    <li><a routerLink="/views" routerLinkActive="active">Views</a></li>
    <li><a routerLink="/dialog" routerLinkActive="active">Dialog</a></li>
  </ul>
</nav>
