@import "../../../styles.scss";

nav {
  display: none;
  padding: 2rem 1.5rem;
  width: 250px;
  margin: auto;
  position: sticky;
  top: 62px;
  left: 0;
}

.open {
  top: 0;
  display: flex;
  padding: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(6px);
  position: fixed;
  background-color: rgba($color: #101827, $alpha: 0.8);

  ul {
    width: 200px;
    padding: 2rem 1.5rem;
  }
}

ul {
  h5 {
    color: $shade-white;
    font-size: 1rem;
    padding: 1rem 0rem;
  }
  li {
    .active {
      color: $shade-white;
      border-left: 1px solid $neutral-200;
    }

    a {
      @include sidebarButton($secondary, $neutral-800, $shade-white);
    }
  }
}

@media (min-width: 1024px) {
  nav {
    display: flex;
  }
}
