<div class="ui-modal" (click)="close()">
  <div class="modal-container" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <ng-content select="[modalTitle]"></ng-content>

        <span class="close" (click)="close()">x</span>
      </div>

      <ng-content select=".modal-body"></ng-content>

      <div class="modal-footer">
        <button (click)="close()">{{ action }}</button>
      </div>
    </div>
  </div>
</div>
