@import "../../../styles.scss";

.ui-modal {
  margin: auto;
  position: absolute;
  background-color: rgba(0, 0, 39, 0.5);
  backdrop-filter: blur(6px);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;

  .modal-container {
    @include flexColumn(1rem);
    background-color: $shade-white;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 1rem;
    max-width: 450px;
    margin: auto;

    .modal-content {
      @include flexColumn(1rem);
    }

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .close {
        @include button(inherit, transparent, rgb(215, 229, 247));
        padding: 0.1rem 0.3rem;
        border-radius: 0.2rem;
        &:hover {
          color: $neutral-800;
        }
      }
    }

    .modal-footer {
      padding-top: 0.5rem;
      button {
        @include button(#1e3a8a, #dceafe, rgb(191 219 254 / 1));
      }
    }
  }
}
