@import "../../../styles.scss";

:host {
  @include componentLayout(linear-gradient(90deg, #fb913c 0%, #dc2a75 100%));
}

.ui-placeholder {
  @include flexColumn(0rem);

  width: Min(450px, 100%);
  margin: auto;
  background-color: $neutral-50;

  overflow: hidden;
  border-radius: 0.5rem;
}

.ph-header {
  @include flexColumn(0rem);
  padding: 1rem 0;
}

.ph-cards {
  display: flex;
  align-items: center;

  gap: 1rem;

  padding: 1rem;

  cursor: pointer;

  &:hover {
    background-color: $neutral-100;
  }

  .icon {
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
    width: 56px;
    height: 48px;
    border-radius: 0.5rem;

    .img {
      background-color: #fed7aa;
      width: 100%;
      height: 100%;
    }
  }

  .content {
    width: 100%;
    @include flexColumn(0.5rem);

    .title {
      color: $neutral-900;
      font-size: 14px;
      font-weight: 600;
    }

    p {
      color: $neutral-500;
      font-size: 14px;
    }
  }
}

.ph-footer {
  @include flexColumn(0.5rem);
  padding: 1.5rem 1rem;
  background-color: $neutral-100;
  width: 100%;

  .title {
    color: $neutral-900;
    font-size: 14px;
    font-weight: 600;
  }

  p {
    color: $neutral-500;
    font-size: 14px;
  }
}

@media (min-width: 640px) {
  :host {
    padding: 4rem;
  }

  .ph-header {
    @include flexColumn(0rem);
    padding: 1rem 0;
  }

  .ph-cards {
    padding: 1rem 2rem;
  }

  .ph-footer {
    padding: 1.5rem 2rem;
  }
}
