<div class="ui-placeholder">
  <div class="ph-header">
    <div class="ph-cards" *appRepeat="lines">
      <div class="icon" *ngIf="icon">
        <div class="img"></div>
      </div>
      <div class="content">
        <p class="title">Title</p>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </div>
    </div>
  </div>
  <div class="ph-footer" *ngIf="footer">
    <p class="title">Title</p>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
  </div>
</div>
