<table class="ui-table">
  <thead>
    <tr>
      <th *ngFor="let header of headers">
        {{ header.label }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data" [ngClass]="tableStyle">
      <td *ngFor="let header of headers">
        {{ item[header.key] }}
      </td>
    </tr>
  </tbody>
</table>
