@import "../../../../styles.scss";

:host {
  @include componentLayout(linear-gradient(90deg, #fcd34c 0%, #f97215 100%));
}

.ui-table {
  @include flexColumn(0rem);

  width: Min(500px, 100%);
  margin: auto;

  overflow: hidden;
  border-radius: 0.5rem;
  border: 1px solid $neutral-200;
  font-size: 14px;
  border-color: $shade-white;

  thead {
    display: flex;
    tr {
      background-color: $shade-white;
      display: flex;
      width: 100%;
      color: #f97213;
      border-bottom: 1px solid $neutral-200;

      th {
        text-align: left;
        flex: 1;
        padding: 1rem;
        font-weight: 400;
      }
    }
  }

  tbody {
    @include flexColumn(0rem);

    .stripe:nth-child(even) {
      background-color: $neutral-50;
    }

    .borders {
      border-bottom: 1px solid $neutral-100;
    }

    tr {
      display: flex;
      cursor: pointer;
      width: 100%;
      color: $neutral-500;
      background-color: $shade-white;

      &:hover {
        background-color: $neutral-100;
      }

      td {
        text-align: left;
        flex: 1;
        padding: 1rem;
      }
    }
  }
}
