@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./styles/variables";
@import "./styles/mixins";

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  max-width: 100%;
  margin: auto;
  font-family: "Inter", sans-serif;
  color: $secondary;
  background-color: $surface;
  height: 100vh;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.title-small {
  color: $shade-white;
  font-size: 2rem;
  font-weight: 600;
}

@media (min-width: 1280px) {
  body {
    max-width: 80%;
    margin: auto;
  }
}
