<main>
  <h2>Get started with NgUI</h2>
  <p>
    A library of UI components for modern Angular projects, generating the
    corresponding styles and then adding them to your HTML file.
  </p>

  <a routerLink="/elements" class="cta">Start exploring</a>
</main>

<ul>
  <li *ngFor="let thumb of thumbs">
    <a [routerLink]="thumb.path">
      <h3>
        {{ thumb.svg }}
      </h3>

      <img src="./assets/{{ thumb.svg }}.svg" [alt]="thumb.svg" />
    </a>
  </li>
</ul>
