@import "../../styles.scss";

:host {
  @include hostLayout;
}

h2 {
  color: $primary;
  font-size: 1.5rem;
}
p {
  line-height: 2rem;
  font-size: 18px;
  color: $neutral-50;
  font-weight: 500;
  margin: 3rem 0;
}

a {
  padding-top: 1rem;
  display: inline-block;
  color: $neutral-300;
  font-size: 16px;
  line-height: 24px;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $shade-white;
  }
}

.cta {
  background-color: rgba($color: #ffffff, $alpha: 0.05);
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  width: fit-content;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  li {
    cursor: pointer;

    a {
      display: flex;
      flex-direction: column;

      h3 {
        text-transform: capitalize;
        font-size: 1rem;
        line-height: 2rem;
        padding: 0.5rem;
      }
    }
  }
}
