@import "../../../styles.scss";

:host {
  @include componentLayout(linear-gradient(90deg, #2cd4be 0%, #1fd2ed 100%));
}

.ui-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  width: Min(500px, 100%);
  margin: auto;

  padding: 1rem;
  background-color: $shade-white;
  border-radius: 0.5rem;

  .stat {
    @include flexColumn(0.5rem);
    align-items: center;
    flex: 1;
  }

  .value {
    font-weight: 500;
    font-size: 2rem;
  }

  .label {
    color: #007363;
    background-color: #a3f6eb;
    border-radius: 1rem;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
  }
}

@media (min-width: 640px) {
  .ui-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 3rem 2rem;

    .value {
      font-size: 2.5rem;
    }

    .label {
      font-size: 1rem;
    }
  }
}
