<div class="ui-stats">
  <div class="stat" *ngFor="let stat of data">
    <div class="value">
      {{ stat.value }}
    </div>
    <div class="label">
      {{ stat.label }}
    </div>
  </div>
</div>
